.navbar {
    display: flex;
    gap: 5px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 1px 0 4px 0 #e2e2e2;
    margin-bottom: 14px;
}

.navbar .menu {
    display: flex;
    justify-content: end;
    flex-grow: 1;
    align-content: center;
}

.navbar .navbar-brand .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--base);
}

.navbar .navbar-brand a > img {
    height: 50px;
    padding: 4px 12px;
}

.navbar .menu ul {
    list-style-type: none;
}

.navbar .menu ul li a.nav-link {
    padding: 10px 20px;
    color: var(--base);
    font-weight: 500;
}

.navbar .menu ul li a.nav-link:hover {
    background-color: var(--primary);
    color: var(--tertiary);
    transition: all .2s;
}

/* toggle switch */
.navbar .toggle-theme .toggle-theme {
    position: relative;
}
.navbar .toggle-theme input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar .toggle-theme label {
    cursor: pointer;
    text-indent: -9999px;
    width: 44px;
    height: 22px;
    background: var(--grey);
    display: block;
    border-radius: 100px;
    position: relative;
}

.navbar .toggle-theme label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: var(--tertiary);
    border-radius: 10px;
    transition: 0.3s;
}

.navbar .toggle-theme input:checked + label {
    background: var(--base);
}

.navbar .toggle-theme input:checked + label:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}

.navbar .toggle-theme label:active:after {
    width: 12px;
}

/* END toggle switch */